
body {
  background-color: #004d40;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: #E4584B;
}

h3 {
  color: black;
}

.iconContent p {
  padding: 20px;
}

/* name, title, statement and buttons here */

.intro {
  margin-top: 300px;
  font-family: 'Bolgota';
  font-size: 40px;
  color: #fff37e;
  text-align: center;
}

.name {
  margin-bottom: -30px;
  text-align: center;
  color: #E4584B;
}

.titleP {
  font-size: 17px;
  font-weight: bold ;
  margin-top: -25px;
  font-family: 'helvetica';
  letter-spacing: 1.5px;
 }

 .Talexisbg {
  background-color: #fff37e;
  width: 200px;
  height: 30px;
  margin: auto;
  border-radius: 3px;
 }

.Buttons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 200px;
  padding: 40px;
  
}

.button {
  position: relative;
}

.button:hover {
  background-color: transparent;
}

.icon {
  vertical-align: middle;
  margin-left: 10px;
}

.link {
  color: #fff37e;
  padding: 10px;
}

.dropbtn {
  background-color: transparent;
  color: #fff37e;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover{
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-image: linear-gradient(150deg, #26a69a 20%, #E4584B 110%);
  margin-top: 350px;
  border-radius: 20px;
  padding: 20px;
}

.dropdown-content a {
  color: #fff37e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Dealerplate';
  letter-spacing: 1.2px;
  font-weight: bold;
  font-size: 20px;
}

.show {
  display: block;
}

.spacer {
  aspect-ratio: 160/220;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.spacer2 {
  aspect-ratio: 380/220;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.featuredTitle {
  font-size: 80px;
  margin-top: -800px;
  padding: 5px 0px 0px 80px;
  font-family: 'Bolgota';
  color: #fff;
  background-color:#E4584B;
  border-radius: 30px 30px 0 0;
}

.featuredList {
  color: black;
  display: flex;
  justify-content: space-between;
}

.ftitle p{
  font-size: 15px;
  font-family: 'helvetica';
  letter-spacing: 1.0px;
  font-weight: 900;
  margin: 0 0 100px 100px;
}

.ftitle h3{
  font-size: 25px;
  margin-left: 100px;
}

.flogo {
  background-image: url('./img/triangle.png');
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  margin-top: 60px;
  margin-bottom: -180px;
}

.flogo img{
  margin-top: 15px;
  margin-left: -250px;
}


.aboutmeGroup {
  display: flex;
  justify-content: center;
}

.aboutMe {
  padding: 50px;
  border-radius: 20px;
  color: black;
  background-color: #fff37e;
  font-size: 15px;
  width: 60%;
  position: relative;
  margin-bottom: -40px;
}

.question {
  margin-right: 500px;
  display: flex;
  justify-content: flex-end;
  margin-top: -1400px;
}

.question2 {
  margin-left: 500px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: -1600px;
}

.dropbtn2 {
  background-color: #E4584B;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: 800px;
  margin-bottom: 300px;
  z-index: 1;
  border-radius: 10px;
  margin-right: -60px;
}

.dropbtn3 {
  background-color: #E4584B;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: 100px;
  margin-bottom: 400px;
  z-index: 1;
  border-radius: 10px;
  margin-left: -60px;
}

.dropdown2 {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 360px;
  z-index: 1;
  color: white;
  background: rgba(4, 170, 109, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  padding: 30px;
  margin-right: -345px;
  margin-top: 850px;
}

.dropdown3 {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 360px;
  z-index: 1;
  margin-top: -125px;
  color: white;
  background: rgba(4, 170, 109, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  padding: 30px;
  margin-left: -330px;
}


.dropdown2 a:hover {background-color: #ddd;}

.question:hover .dropdown2 {display: block;}

.question:hover .dropbtn2 {background-color: #04AA6D;}

.dropdown3 a:hover {background-color: #ddd;}

.question2:hover .dropdown3 {display: block;}

.question2:hover .dropbtn3 {background-color: #04AA6D;}

.layer6con {
  margin-top: -700px;
  margin-bottom: 50px;
  padding: 20px;
  color: #fff37e;
  position: relative;
  font-size: 50px;
  font-family: 'Bolgota';
  display: flex;
  justify-content: center;
}

.copyLink {
  background-color:#0d5c4e;
  border-radius: 5px;
  border-style: none;
  padding: 10px 15px;
  align-items: center;
  color: #fff37e;
  font-family: 'Dealerplate';
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
}

.copyLink:hover {
  background-color: #04AA6D;
}

.copyLink2 {
  background-color:#0d5c4e;
  border-radius: 5px;
  border-style: none;
  padding: 10px 15px;
  color: #fff37e;
  font-family: 'Dealerplate';
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
}

.email:hover {
  color: #04AA6D;
}

.message:hover {
  color: #04AA6D;
}

.text{
  bottom: 0px;
}

/* name, title, statement and buttons ends here */



/* background shapes, layout, or colors here */

.layer1 {
  background-image: url('./shapes/layer2.svg');
}

.layer2 {
  background-image: url('./shapes/layer5.svg');
  aspect-ratio: 160/105;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: -700px;
}

.layer3 {
  background-image: url('./shapes/layer3.svg');
  background-color: #fff37e;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -500px;
  margin-bottom: 20px;
}

.layer4 {
  background-image: url('./shapes/layer4.svg');
  padding-top: 290px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -450px;
}

.layer5 {
  aspect-ratio: 160/105;
  background-image: url('./shapes/layer6.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer6 {
  margin-top: -1100px;
  padding: 1080px 0px 1480px 0px;
  background-color: rgba(0 0 0/60%);
  position: absolute;
  z-index: -1;
}

.layer7 {
  aspect-ratio: 190/150;
  background-image: url('./shapes/bgShape2.svg');
  background-repeat: no-repeat;
  background-size: 2500px;
  background-position: center;
  margin-bottom: 1000px;
}

.three { 
 display: flex;
 justify-content: center;
 padding-top: 100px;
 padding-left: 150px;
}

.bgShape {
  background-image: url('./shapes/bgShape3.svg');
  width: 700px;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  margin: -200px 0px 500px 0px;
  z-index: -1;
  position: relative;
}

.bgShape img{
  margin: 300px 0px 0px 100px;
}


.productCard {
  position: absolute;
  right: 80px;
  margin-top: -200px;
}

.blobGroup{
  background-position: center;
}

.cards {
  padding-top: 400px;
}

.grid {
  display: flex;
  justify-content: center;
}

.alexis {
  background-image: url('./img/alexis.JPG');
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 60%;
  z-index: 1;
  margin-bottom: 0px;
}

.divImg {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 450px;
}

.webImg {
  margin-top: 200px;
  margin-left: -50px;
}

.logo2div {
  display: flex;
  justify-content: space-around;
  margin-top: 1500px;
  margin-left: 0px;
}

.logo2div2 {
  display: flex;
  justify-content: center;
  display: none;
}

.logo2 {
  background-image: url('./shapes/Artboard\ 1.svg');
  background-repeat: no-repeat;
  width: 650px;
  height: 650px;
  margin-top: 70px;
  z-index: -1;
}

.navlogo {
  background-image: url('./shapes/Artboard\ 1.svg');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-bottom: 0px;
}

.featuredbg {
  background-color: #009688;
  margin: 80px;
  border-radius: 30px;
  padding: 0px;
}


.copy {
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.slides {
  width: 950px;
  height: 450px;
  margin-top: 180px;
}

.aboutmeIcons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
  color: white;
}

.iconContent {
  display: flex;
  justify-content: space-around;
  margin: 0px 100px 0px 120px;
  color: white;
  
}

.three {
  margin-top: -1400px;
  margin-left: -150px;
  margin-bottom: 1000px;
}

.threeM {
  display: none;
  margin-top: -1400px;
  margin-left: -150px;
  margin-bottom: 1000px;
}

.time {
  margin-top: -300px;
  padding-bottom: 150px;
}

/* background shapes, layout, or colors  ends here */
/* web development page, background shapes, layout, or colors  starts here */

.layer4w {
  background-image: url('./shapes/layer4.svg');
  padding-top: 290px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -450px;
  margin-bottom: -1300px;
}

.graphicCard{
  background-color: #009688;
  margin: 0px 80px 80px 80px;
  border-radius: 30px;
  padding: 0px;
}

.graphicCard2{
  background-color: #009688;
  margin: 0px 80px 80px 80px;
  border-radius: 30px;
  padding: 0px;
  margin-top: -300px;
}

.graphicTitle {
  font-size: 70px;
  margin-top: 0px;
  padding: 5px 0px 0px 80px;
  font-family: 'Bolgota';
  color: #fff;
  background-color:#E4584B;
  border-radius: 30px 30px 0 0;
}

.graphicList {
  color: black;
  display: flex;
  justify-content: space-around;
}

.Gtitle {
  margin-left: 0px;
}

.Gtitle p{
  background-color: #0d5c4e;
  padding: 70px 70px 70px 70px;
  border-radius: 15px;
  font-size: 15px;
  font-family: 'helvetica';
  letter-spacing: 1.0px;
  font-weight: 900;
  margin: 0 00px 100px 100px;
}

.Gtitle h3{
  font-size: 25px;
  margin-left: 100px;
  background-color: #0d5c4e;
}

.GbgShape {
  background-image: url('./shapes/bgShape3.svg');
  width: 700px;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  margin: -200px 0px 300px 950px;
  z-index: -1;
  position: relative;
}

.GbgShape img{
  margin: 300px 0px 0px 100px;
}

.GraphicCardLeft {
  position: absolute;
  left: 80px;
  margin-top: -200px;
}

.Glogo {
  margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 150px;
}

.Glogo img{
  margin-top: 0px;
  border-radius: 20px;
}
/* background shapes, layout, or colors  ends here */



/* Media queries */

@media only screen and (max-width: 2926px) {
  .layer2 {
    background-image: url('./shapes/layer5.svg');
    aspect-ratio: 160/105;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -1050px;
  }

  .logo2div {
    display: flex;
    justify-content: space-around;
    margin-top: 900px;
    margin-bottom: 200px;
  }

  .layer6 {
    margin-top: -1550px;
    padding: 1080px 0px 1500px 0px;
    background-color: rgba(0 0 0/60%);
    position: absolute;
    z-index: -1;
  }

  .layer6con {
    margin-top: -450px;
    margin-bottom: 10px;
    padding: 20px;
    color: #fff37e;
    position: relative;
    font-size: 50px;
    font-family: 'Bolgota';
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 2226px) {

  .layer2 {
    background-image: url('./shapes/layer5.svg');
    aspect-ratio: 160/105;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -850px;
  }

  .layer6 {
    margin-top: -1150px;
    padding: 1080px 0px 1500px 0px;
    background-color: rgba(0 0 0/60%);
    position: absolute;
    z-index: -1;
  }

  .logo2div {
    display: flex;
    justify-content: space-around;
    margin-top: 1500px;
    margin-bottom: 200px;
  }

  .layer6con {
    margin-top: -550px;
    margin-bottom: 10px;
    padding: 20px;
    color: #fff37e;
    position: relative;
    font-size: 50px;
    font-family: 'Bolgota';
    display: flex;
    justify-content: center;
  }

  .time {
    margin-top: -300px;
    padding-bottom: 150px;
  }

}

@media only screen and (max-width: 1576px) {

  .three {
    margin-top: -1400px;
    margin-left: -500px;
    margin-bottom: 800px;
    display: block;
  }

  .layer6 {
    margin-top: -850px;
    padding: 1080px 0px 1500px 0px;
    background-color: rgba(0 0 0/60%);
    position: absolute;
    z-index: -1;
  }

  .logo2div {
    display: flex;
    justify-content: space-around;
    margin-top: 1500px;
    margin-bottom: 500px;
  }

  .layer6con {
    margin-top: -850px;
    margin-bottom: 10px;
    padding: 20px;
    color: #fff37e;
    position: relative;
    font-size: 50px;
    font-family: 'Bolgota';
  }

  .slides {
    width: 750px;
    height: 450px;
    margin-top: 180px;
  }

  .time {
    margin-top: -300px;
    padding-bottom: 150px;
  }

}

@media only screen and (max-width: 1376px) {

  .slides {
    width: 550px;
    height: 450px;
    margin-top: 180px;
  }

  .three {
    margin-top: -1400px;
    margin-left: -500px;
    margin-bottom: 800px;
    display: block;
  }

  .flogo {
    background-image: url('./img/triangle.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-left: -100px;
  }

  .flogo img{
    margin-top: 35px;
    margin-left: -140px;
    width: 475px;
    height: 110px;
  }

  .layer6con {
    margin-top: -550px;
    margin-bottom: 10px;
    padding: 20px;
    color: #fff37e;
    position: relative;
    font-size: 50px;
    font-family: 'Bolgota';
    display: flex;
    justify-content: center;
  }

  .logo2div {
    display: flex;
    justify-content: space-around;
    margin-top: 2000px;
    margin-bottom: 500px;
    margin-left: 100px;
  }

  .time {
    margin-top: -300px;
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 1196px) {
  .logo2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1600px;
    margin-left: 0px;
    margin-bottom: 00px;
  }

  .three {
    margin-top: -1000px;
    margin-left: -600px;
    margin-bottom: 800px;
    display: block;
  }
  

  .logo2div2 {
    display: flex;
    justify-content: center;
  }

  .logoMobile {
    display: none;
  }

  .logo2 {
    background-image: url('./shapes/Artboard\ 1.svg');
    background-repeat: no-repeat;
    width: 650px;
    height: 650px;
    margin-top: 70px;
    margin-left: 0px;
    z-index: -1;
  }

  .layer6con {
    margin-top: -600px;
    margin-bottom: 10px;
    padding: 20px;
    color: #fff37e;
    position: relative;
    font-size: 50px;
    font-family: 'Bolgota';
    display: flex;
    justify-content: center;
  }

  .layer2 {
    background-image: url('./shapes/layer5.svg');
    aspect-ratio: 160/105;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -450px;
  }

  .layer6 {
    margin-top: -700px;
    padding: 1080px 0px 1500px 0px;
    background-color: rgba(0 0 0/60%);
    position: absolute;
    z-index: -1;
  }

  .aboutmeIcons {
    display: none;
  }
  
  .iconContent {
    display: none;
    
  }

  .slides {
    width: 750px;
    height: 450px;
    margin-top: 180px;
  }

  .ftitle p{
    font-size: 15px;
    font-family: 'helvetica';
    letter-spacing: 1.0px;
    font-weight: 900;
    margin: 0 0 0px 80px;
  }
  
  .ftitle h3{
    font-size: 25px;
    margin-left: 80px;
  }

  .bgShape {
    background-image: url('./shapes/bgShape3.svg');
    width: 700px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 300px 0px 450px 0px;
    z-index: -1;
    position: relative;
  }
  
  .bgShape img{
    margin: 350px 0px 0px 100px;
    width: 500px;
    height: 100px;
  }
  
  
  .productCard {
    position: absolute;
    right: 25px;
    margin-top: -100px;
  }

  .featuredList {
    color: black;
    display: flex;
    justify-content: center;
  }

  .flogo {
    display: flex;
    justify-content: center;
    background-image: url('./img/triangle.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 230px;
    margin-left: 130px;
  }
  .flogo img{
    margin-top: 40px;
    margin-left: -100px;
    width: 375px;
    height: 100px;
  }

  .time {
    margin-top: -300px;
    padding-bottom: 150px;
  }
 
}

@media only screen and (max-width: 950px) {
  .three {
    margin-top: -1000px;
    margin-left: -710px;
    margin-bottom: 800px;
    display: block;
  }

  .featuredList {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
  }

  .flogo {
    display: flex;
    justify-content: center;
    background-image: url('./img/triangle.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 175px;
  }

  .flogo img{
    margin-top: 40px;
    margin-left: -150px;
    width: 375px;
    height: 100px;
  }

  .time {
    margin-top: -300px;
    padding-bottom: 150px;
  }

  .logo2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1700px;
    margin-left: 0px;
    margin-bottom: 00px;
  }

  .link {
    color: #fff37e;
    padding: 2px;
  }
}

@media only screen and (max-width: 800px) {
  .logo2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1800px;
    margin-left: 0px;
    margin-bottom: 00px;
  }

  .layer2 {
    background-image: url('./shapes/layer5.svg');
    aspect-ratio: 160/105;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -300px;
  }

  .slides {
    width: 450px;
    height: 450px;
    margin-top: 180px;
  }

  .featuredbg {
    background-color: #009688;
    margin: 20px;
    border-radius: 30px;
  }

  .featuredList {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
  }

  .flogo {
    display: flex;
    justify-content: center;
    background-image: url('./img/triangle.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 130px;
  }
  
  .flogo img{
    margin-top: 40px;
    margin-left: -150px;
    width: 375px;
    height: 100px;
  }

  .time {
    margin-top: -300px;
    padding-bottom: 150px;
  }

  .threeM {
    display: block;
    margin-top: -550px;
    margin-left: -220px;
    margin-bottom: 800px;
  }
  
  .three {
    margin-top: -600px;
    margin-left: -800px;
    margin-bottom: 800px;
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .three {
    margin-top: -500px;
    margin-left: -800px;
    margin-bottom: 800px;
    display: none;
  }

  .threeM {
    display: block;
    margin-top: -550px;
    margin-left: -220px;
    margin-bottom: 800px;
  }

  .featuredList {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
  }
}

@media only screen and (max-width: 611px) {
  .three {
    margin-top: -400px;
    margin-left: -800px;
    margin-bottom: 800px;
    display: none;
  }

  .threeM {
    display: block;
    margin-top: -350px;
    margin-left: -300px;
    margin-bottom: 800px;
  }

  .featuredList {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }

  .time {
    margin-top: -300px;
    padding-bottom: 150px;
  }

  .logo2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2000px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 520px) {
  
  .aboutmeIcons {
    display: none;
  }
  
  .iconContent {
    display: none;
    
  }

  .layer2 {
    background-image: url('./shapes/layer5.svg');
    aspect-ratio: 160/105;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 0px;
  }

  .layer6 {
    margin-top: -600px;
    padding: 880px 0px 1380px 0px;
    background-color: rgba(0 0 0/60%);
    position: absolute;
    z-index: -1;
  }

  .three {
    margin-top: -500px;
    margin-left: -150px;
    margin-bottom: 100px;
    padding: 300px;
  }

  .layer4 {
    background-image: url('./shapes/layer4.svg');
    padding-top: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -100px;
  }

  .title{
    margin-top: -200px;
  }

  .featuredbg {
    background-color: #009688;
    margin: 20px;
    border-radius: 30px;
    padding: 0px;
  }

  .featuredTitle {
    font-size: 50px;
    margin-top: -400px;
    text-align: center;
    padding: 5px 0px 0px 0px;
    font-family: 'Bolgota';
    color: #fff;
    background-color:#E4584B;
    border-radius: 30px 30px 0 0;
  }
  
  .featuredList {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
  }
  
  .ftitle p{
    font-size: 15px;
    font-family: 'helvetica';
    letter-spacing: 1.0px;
    font-weight: 900;
    margin: 0 -130px 0px 0px;
    padding: 40px;
  }
  
  .ftitle h3{
    font-size: 25px;
    margin-left: 25px;
  }
  
  .flogo {
    display: flex;
    justify-content: center;
    background-image: url('./img/triangle.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 130px;
  }
  
  .flogo img{
    margin-top: 40px;
    margin-left: -150px;
    width: 375px;
    height: 100px;
  }
  
  .bgShape {
    background-image: url('./shapes/bgShape3.svg');
    width: 700px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 300px 0px 450px 0px;
    z-index: -1;
    position: relative;
  }
  
  .bgShape img{
    margin: 350px 0px 0px 100px;
    width: 250px;
    height: 50px;
  }
  
  
  .productCard {
    position: absolute;
    right: 25px;
    margin-top: -100px;
  }

  .logo2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2300px;
    margin-left: 0px;
  }

  .logo2div2 {
    display: flex;
    justify-content: center;
  }

  .logo2 {
    background-image: url('./shapes/Artboard\ 1.svg');
    background-repeat: no-repeat;
    width: 450px;
    height: 450px;
    margin-bottom: -200px;
    z-index: -1;
  }

  .slides {
    width: 350px;
    height: 450px;
    margin-top: 180px;
  }

  .time {
    margin-top: -300px;
    padding-bottom: 150px;
  }

  .three {
    margin-top: -1400px;
    margin-left: -150px;
    margin-bottom: 1000px;
    display: none;
  }
  
  .threeM {
    display: block;
    margin-top: -150px;
    margin-left: -360px;
    margin-bottom: 400px;
  }

  .layer6con {
    margin-top: -400px;
    margin-bottom: 10px;
    padding: 20px;
    color: #fff37e;
    position: relative;
    font-size: 50px;
    font-family: 'Bolgota';
    display: flex;
    justify-content: center;
  }

}

@media only screen and (max-width: 480px) {
  .threeM {
    display: block;
    margin-top: -150px;
    margin-left: -380px;
    margin-bottom: 400px;
  }

  .ftitle p{
    font-size: 14px;
    font-family: 'helvetica';
    letter-spacing: 1.0px;
    font-weight: 900;
    margin: 0 0px 0px 0px;
    padding: 40px;
  }

  .flogo {
    display: flex;
    justify-content: center;
    background-image: url('./img/triangle.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
  }
  
  .flogo img{
    margin-top: 40px;
    margin-left: -150px;
    width: 375px;
    height: 100px;
  }

  .logo2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2700px;
    margin-left: 0px;
  }

  .link {
    color: #fff37e;
    padding: 8px;
  }
}

@media only screen and (max-width: 400px) {
  .threeM {
    display: block;
    margin-top: -150px;
    margin-left: -395px;
    margin-bottom: 400px;
  }

  .ftitle p{
    font-size: 14px;
    font-family: 'helvetica';
    letter-spacing: 1.0px;
    font-weight: 900;
    margin: 0 0px 0px 0px;
    padding: 40px;
  }

  .flogo {
    display: flex;
    justify-content: center;
    background-image: url('./img/triangle.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
  }
  
  .flogo img{
    margin-top: 40px;
    margin-left: -150px;
    width: 375px;
    height: 100px;
  }

  .logo2div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2800px;
    margin-left: 0px;
  }

  .link {
    color: #fff37e;
    padding: 8px;
  }
}




@font-face {
  font-family: 'Bolgota';
  src: local('Bolgota'), url('./fonts/Bolgota.ttf') format('truetype');
  
}

@font-face {
  font-family: 'Dealerplate';
  src: local('Dealerplate'), url('./fonts/Dealerplate.ttf') format('truetype');
}


 